<footer>
    <div class="container">
        <div class="row footer-section">
            <ul class="nav justify-content-center py-3">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">HOME</a></li>
                <li class="nav-item"><a href="{% url 'info:about_us' %}" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="{% url 'events:all' %}" class="nav-link">News & Events</a></li>
                <li class="nav-item"><a href="{% url 'products:all' %}" class="nav-link">Products</a></li>
                <li class="nav-item"><a href="{% url 'countries:business' %}" class="nav-link">Business</a></li>
<!--                <li class="nav-item"><a href="#" class="nav-link">Gallery</a></li>-->
                <li class="nav-item"><a href="{% url 'info:quality_standard' %}" class="nav-link">Quality Standards</a></li>
                <li class="nav-item"><a href="{% url 'info:contact_us' %}" class="nav-link">Contact Us</a></li>
            </ul>
            <p class="nav-text text-center pt-3">Copyright 2021 © SevenSky Group.</p>
            <div class="footer-icons text-center py-2">
                <a href="{{ main_info.facebook }}" class="px-2"><i class="fab fa-facebook"></i></a>
                <a href="{{ main_info.instagram }}" class="px-2"><i class="fab fa-instagram"></i></a>
                <a href="{{ main_info.twitter }}" class="px-2"><i class="fab fa-twitter"></i></a>
                <a href="{{ main_info.linkedin }}" class="px-2"><i class="fab fa-linkedin"></i></a>
                <a href="{{ main_info.youtube }}" class="px-2"><i class="fab fa-youtube"></i></a>
                <a href="https://wa.me/+{{ main_info.whatsapp }}" class="px-2"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</footer>
