<nav class="navbarr fixed-top" style="zoom: 75%">
    <div class="brand">
        <a href="#" style="zoom: 125%">SEVEN SKY</a>
    </div>
    <button class="toggle-button">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="navbarr-links">
        <ul id="myDIV">
            <li><a href="#home" class="navLink active"> HOME </a></li>
            <li><a href="#about" class="navLink">About Us</a></li>
            <li><a href="#news" class="navLink">News & Events</a></li>
            <li><a href="#products" class="navLink">Products</a></li>
            <li><a href="#business" class="navLink">Business</a></li>
            <li><a href="#gallery" class="navLink">Gallery</a></li>
            <li><a href="#quality" class="navLink">Quality Standers</a></li>
            <li><a href="{% url 'info:contact_us' %}" class="nav-link">Contact Us</a></li>
<!--            {% if request.user.is_authenticated and request.user.is_superuser %}-->
<!--            <li><a href="{% url 'admin:index' %}" class="navLink">Admin</a></li>-->
<!--            {% else %}-->
<!--            <li><a href="{% url 'admin:login' %}" class="navLink">LogIn</a></li>-->
<!--            {% endif %}-->
            <li class="nav-butn">
                <button>
                    <i class="fas fa-globe"></i>
                    <input class="btn message-send" type="submit" value="EN">
                </button>
            </li>
        </ul>
    </div>
</nav>

