{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block subtitle %} About Us {% endblock %}

{% block extra_header %}
    <img class="img-fluid" src="{% static 'images/aboutusbg.png' %}" alt="pic">
{% endblock %}

{% block content %}
<!-- About Us  Section -->
<section>
    <div class="container-fluid p-5 About">
        <div class="title my-5 py-5 text-center" data-aos="fade-up">
            <h1>About Us</h1>
            <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
            <p>We Expanded to 33 Countries Around The World</p>
        </div>
        <div class="row ">
            {% for company in companies %}
            <div class="col-lg-2" data-aos="fade-{% if forloop.counter|reminder %}right{% else %}left{% endif %}">
                <img class="img-fluid" src="{% if company.logo %}{{ company.logo.url }}{% endif %}" alt="pic">
            </div>
            <div class="col-lg-10 text" data-aos="fade-{% if forloop.counter|reminder %}right{% else %}left{% endif %}">
                <h1 class="pt-lg-5">{{ company.name }}</h1>
                <p class="py-5">{{ company.long_description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Others Section -->
<section class="py-5 my-5">
    <div class="container-fluid cert-section">
        <div class="row">
            <div class="col-11 cert-text p-4 my-5 m-auto" data-aos="fade-up">
                <h2>Chairman Words</h2>
                <h1>{{ chairman_word.title }}</h1>
                <p>{{ chairman_word.description }}</p>
            </div>
            <div class="col-lg-4 p-5 our-mission" data-aos="fade-right">
                <h1 class="ps-lg-4">Our Mission</h1>
                <ul class="pt-4 ps-lg-5">
                    {% for  mission in missions %}
                    <li><p>{{ mission.title }}</p></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 p-5 our-mission" data-aos="fade-up">
                <h1 class="ps-lg-4">Our Vision</h1>
                <ul class="pt-4 ps-lg-5">
                    {% for  vision in visions %}
                    <li><p>{{ vision.title }}</p></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 p-5 our-mission" data-aos="fade-left">
                <h1>Our Quality Certificates</h1>
                <div class="our-m-imgs pt-4">
                    <img src="{% static 'images/our-1.png' %}" alt="pic" class="img-fluid">
                    <img src="{% static 'images/our-2.png' %}" alt="pic" class="img-fluid">
                    <img src="{% static 'images/our-3.png' %}" alt="pic" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
