{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block subtitle %} Contact Us {% endblock %}


{% block extra_header %}
    <img class="img-fluid" src="{% static 'images/certbg.png' %}" alt="pic">
{% endblock %}

{% block content %}
<!-- Quality Section -->
<section class="sixth" id="quality">
    <div class="title my-5 py-4 text-center" data-aos="fade-up">
        <h1>Contact Us</h1>
        <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
    </div>
    <div class="container-fluid contact">
        <div class="row">
            <div class="col-lg-8 contact-parent">
                <p class="contact-title ps-lg-5 ms-lg-5" data-aos="fade-up">Contact Details</p>
                <div class="icons-data">
                   <div class="left-contact ps-lg-5 ms-lg-5 p-2" data-aos="fade-right">
                    <p><i class="fas fa-map-marked-alt"></i>
                        {{ contact_info.address }}
                        </p>
                        <p><i class="far fa-envelope"></i>
                        email:{{ contact_info.email }}
                        </p>
                   </div>
                    <div class="right-contact ps-lg-5 ms-lg-5 p-2 " data-aos="fade-left">
                        <p><i class="fas fa-phone"></i>
                            Telephone: {{ contact_info.phone }} <br>
                            Whatsapp:{{ contact_info.whatsapp }}
                        </p>
<!--                        <p><i class="fas fa-id-card"></i>-->
<!--                            Vacancies: hr@sevenskygroup.com-->
<!--                        </p>-->
                    </div>
                </div>
                <div class="social ps-lg-5 ms-lg-5 p-2 " data-aos="fade-up">
                    <hr>
                    <p>Follow Us on social media</p>
                    <a href="{{ contact_info.facebook }}" class="px-2"><i class="fab fa-facebook"></i></a>
                    <a href="{{ contact_info.instagram }}" class="px-2"><i class="fab fa-instagram"></i></a>
                    <a href="{{ contact_info.twitter }}" class="px-2"><i class="fab fa-twitter"></i></a>
                    <a href="{{ contact_info.linkedin }}" class="px-2"><i class="fab fa-linkedin"></i></a>
                    <a href="{{ contact_info.youtube }}" class="px-2"><i class="fab fa-youtube"></i></a>
                    <a href="https://wa.me/+{{ main_info.whatsapp }}" class="px-2"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="col-lg-4 pe-lg-5 form-container">
               <form data-aos="fade-left" method="post">
                   {% crispy form %}
               </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}