{% extends "base.html" %}
{% load static %}

{% block subtitle %} Quality Standards {% endblock %}

{% block extra_header %}
    <img class="img-fluid" src="{% static 'images/certbg.png' %}" alt="pic">
{% endblock %}

{% block content %}
<!-- Quality Standards Section -->
<section class="sixth" id="quality">
    <div class="title my-5 py-4 text-center" data-aos="fade-up">
        <h1>Quality</h1>
        <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
    </div>
    <div class="container-fluid px-5">
        <div class="row">
            <h1 class="head" data-aos="fade-down-right">Our Quality</h1>
            <div class="col-xl-6" data-aos="fade-right">
                <p class="sixth-text">
                    {{ quality_standard.description }}
                </p>
            </div>
            <div class="col-xl-6 sixth-img" data-aos="fade-left">
                <img src="{% if quality_standard.image %}{{quality_standard.image.url}}{% endif %}" alt="pic" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- Certificates Section -->
<section class="py-5 my-5">
    <div class="container-fluid cert-section">
        <h1 class="cert-head ms-lg-5 mb-4 ps-lg-2" data-aos="fade-down-right">Our Certificates</h1>
        <div class="row">
            {% for certificate in certificates %}
            <div class="col-lg-4 m-auto cert-container" data-aos="fade-up-right">
                <img src="{% if certificate.image %}{{ certificate.image.url }}{% endif %}" class="img-fluid m-auto" alt="pic">
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
