{% extends "base.html" %}
{% load static %}

{% block subtitle %} Products {% endblock %}

{% block extra_style %}
<div class="main-pro-header">
    <img src="{% static 'images/probg.png' %}" class="img-fluid" data-aos="fade-down" alt="pic">
</div>
{% endblock %}

{% block content %}
<!-- Product Section -->
<section class="pro-section">
    <div class="title my-5 py-5 text-center" data-aos="fade-up">
        <h1>Products</h1>
        <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
    </div>
    <div class="container-fluid pro-first-container p-md-5 mt-5" style="background: url('{% static 'images/gallerybg.jpg' %}') no-repeat; background-size: cover; height: 50%;">
        <div class="pro-first-parent p-5">
            <div class="img-left px-lg-5">
                <img src="{{ products.first.images.first.image.url }}" data-aos="fade-right" class="img-fluid" alt="pic">
            </div>
            <div class="img-right-1">
                <img src="{{ products.first.images.last.image.url }}" data-aos="fade-left" class="img-fluid" alt="pic">
            </div>
            <div class="img-right-2">
                <img src="{{ products.first.images.last.image.url }}" data-aos="fade-left" class="img-fluid" alt="pic">
            </div>
        </div>
    </div>
    <div class="container-fluid pro-second-container p-md-5 p-2" style="margin-bottom: 0px; padding-bottom:0px; background: url('{% static 'images/pro-kt-bg.png' %}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="card first-card m-0 p-0">
            <div class="row g-0 p-0 m-0">
                <div class="col-md-4 first-img">
                    <img src="{{ products.1.images.first.image.url }}" data-aos="fade-right" class="img-fluid" alt="img">
                </div>
                <div class="col-md-8 crd-body">
                    <div class="card-body">
                        <h5 class="card-title" data-aos="fade-left">{{ products.1.name }}</h5>
                        <p class="card-text" data-aos="fade-left">
                    {{ products.1.long_description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Multi Product Section -->
<section class="fifth my-5 py-5" style="margin-top: 0px; padding-top: 0px;  background: url('{% static 'images/third.png' %}');">
    <div id="carouselExampleFade" class="carousel slide"  data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid car-part">
                    <div class="row">
                        {% for product in products|slice:":6"%}
                        {% if not forloop.counter|divisibleby:"2" %}
                        <div class="col-lg-4 car-right">
                        {% endif %}
                            <div class="one" data-aos="zoom-in" data-aos-duration="1000">
                                <p>{{ product.name }}</p>
                                <img  style="max-width: 500px; max-height: 500px; padding: 1em;" src="{% if product.images.first.image %} {{ product.images.first.image.url }} {% else %} {% static 'images/default_product.jpg' %} {% endif %}" class="img-fluid"  alt="pic">
                                <div class="overlay">
                                    <h1>{{ product.name }}</h1>
                                    <h3 data-aos="zoom-out" data-aos-duration="5000">{{ product.short_description }} </h3>
                                    <a href="{% url 'products:all' %}" class="btn over-btn">Read More</a>
                                </div>
                            </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if products|slice:"6:"|length >= 3 %}
            <div class="carousel-item">
                <div class="container-fluid car-part">
                    <div class="row">
                        {% for product in products|slice:"6:"%}
                        {% if not forloop.counter|divisibleby:"2" %}
                        <div class="col-lg-4 car-right">
                        {% endif %}
                            <div class="one" data-aos="zoom-in" data-aos-duration="1000">
                                <p>ketchup</p>
                                <img src="{{ product.images.first.image.url }}" class="img-fluid"  alt="pic">
                                <div class="overlay">
                                    <h1>{{ product.name }}</h1>
                                    <h3 data-aos="zoom-out" data-aos-duration="1000">{{ product.short_description }}</h3>
                                    <a href="{% url 'products:all' %}" class="btn over-btn">Read More</a>
                                </div>
                            </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
{% endblock %}


