{% extends "base.html" %}
{% load static %}

{% block subtitle %} Events {% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/style.css.map' %}">
{% endblock %}

{% block content %}
<section class="p-lg-5 my-5" id="business">
    <div class="container-fluid business">
        <div class="title my-5 py-5 text-center" data-aos="fade-up">
            <h1 >Business</h1>
            <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
        </div>
        <div class="row">
            <h1 class="ps-lg-5" data-aos="fade-right">We have Reached 33 Countries Around the World.</h1>
            <div class="col-lg-6 p-lg-5 p-3 mb-3">
                <p data-aos="fade-right">
                    We have reached to export to 33 countries during 8 years only.
                    We are planning to reach over 50 Countries through this year.
                </p>
                <div id="map" class="p-5 mp"></div>
            </div>
            <div class="col-lg-6 p-lg-5" data-aos="fade-left">
                <img src="{% static 'images/flags.png' %}" alt="pic" class="p-5 img-fluid d-block">
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
