* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,
body {
  position: relative;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

section {
    overflow: hidden;
}

.navbarr {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgba(167, 167, 167, 0.404);
    backdrop-filter: blur(5px);

    color: #fff;






    .toggle-button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 25px;
        border: none;
        background-color: transparent;
        &:hover .bar {
            transition: all .3s;
            background-color: #000;
        }
        .toggler-icon {
            height: 3px;
            width: 100%;
            background-color: #fff !important;
            border-radius: 10px;
        }
    }
    .brand a {
        text-decoration:none ;
        font-size: 2.5em;
        margin: 0.5rem;
        padding:2rem 1rem;
        color: crimson;
        font-weight: 600;
        &:hover {
            color: #000000;
            transition: all .3s;
        }
    }
    .navbarr-links ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li {
            list-style: none;
            .active {
                padding-top: 2rem 1rem;
                // background-color: rgba(170, 170, 170, 0.555);
                border-top: 15px solid #dc143c;
                border-bottom: 15px solid transparent;
            }
            a {
                text-decoration: none;
                color: #fff;
                padding:2rem 1rem;
                font-size: 1.5em;
                display: block;

                &:hover {
                    color: #000;
                    transition: all 0.2s;
                }
            }


        }

        li.nav-butn {
            background-color: #dc143c;
            margin: 0;
            padding: 0;
            height: 100% !important;
            button {
                border: 0;
                padding:2.5rem 1rem;
                display: flex;
                align-items: center;
                margin: 0;
                background-color: transparent;
                &:hover input , &:hover i{
                    color: #000;
                    transition: all .2s;
                }

                i {
                    font-size: 1.5em;
                    color: #fff;
                }
                input {
                    color: #fff;
                    font-size: 1.5em;
                    text-align: center;
                }
            }
        }
    }
}
.white-nv {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fff;
    color: #dc143c;
    box-shadow: 0px 1px 4px #bbbbbb;
    transition: all 0.3s ease-in-out;





    .toggle-button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 25px;
        border: none;
        background-color: transparent;
        &:hover .bar {
            transition: all .3s;
            background-color: #dc143c;
        }
        .toggler-icon {
            height: 3px;
            width: 100%;
            background-color: #000 !important;
            border-radius: 10px;
        }
    }
    .brand a {
        text-decoration:none ;
        font-size: 2.5em;
        margin: 0.5rem;
        padding:2rem 1rem;
        color: crimson;
        font-weight: 600;
        &:hover {
            color: #000000;
            transition: all .3s;
        }
    }
    .navbarr-links ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li {
            list-style: none;
            .active {
                padding-top: 2rem 1rem;
                // background-color: rgba(170, 170, 170, 0.555);
                border-top: 15px solid #dc143c;
                border-bottom: 15px solid transparent;
            }
            a {
                text-decoration: none;
                color: #dc143c;
                padding:2rem 1rem;
                font-size: 1.5em;
                display: block;

                &:hover {
                    color: #000;
                    transition: all 0.2s;
                }
            }


        }

        li.nav-butn {
            background-color: #dc143c;
            margin: 0;
            padding: 0;
            height: 100% !important;
            button {
                border: 0;
                padding:2.5rem 1rem;
                display: flex;
                align-items: center;
                margin: 0;
                background-color: transparent;
                &:hover input , &:hover i{
                    color: #000;
                    transition: all .2s;
                }

                i {
                    font-size: 1.5em;
                    color: #fff;
                }
                input {
                    color: #fff;
                    font-size: 1.5em;
                    text-align: center;
                }
            }
        }
    }
}

// end of navbar
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 4rem !important;
    height: 4rem !important;
}
.carousel img {
    height: 100vh !important;
}
.underbg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 90;
}
// second section
.title {
    h1 {
        color: #A80E0E;
        font-size: 55px;
        font-family: 'Open sans', sans-serif;
        font-weight: 400;
    }
    p {
        font-size: 26px;
        margin-top: .5em;
        font-family: 'Poppins', sans-serif;

    }
}
.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.main-crd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}
.about {
    overflow: hidden;
    .main-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 472px;
        min-height: 620px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        padding: 1em;

        img {
            position: absolute;
            top: -5em;
        }
        h1 {
            margin-bottom: 1em;
            margin-top: 1.5em;
            font-size: 40px;
            color: #000;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;

        }
        p {
            width: 90%;
            font-size: 1.5em;
            line-height: 1.8em;
            text-align: start;
            color: #4D533C;
            font-weight:bold;
            font-family: 'Poppins', sans-serif;
            font-style: italic;

        }
        .main-btn {
            color: #fff;
            background-color: #FFAA00;
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
            margin-top: auto;
            margin-bottom: 2em;

            &:hover {
                color: #FFAA00;
                border: 1px solid #FFAA00;
                background-color: #fff;

            }
        }
    }
}
// third
.third-main {
    background-image: url('../img/SECTION1BG.png');
    height: 90vh;
    width: 100%;
    overflow: hidden;
   .third-row {
       height: 100%;
    .left-part {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: start;
        height: 100%;

        .line {
            width: 150%;
            height: 10px;
            background-color: #fff;
        }
        .top-text,.bottom-text {
            padding-left: 3em;
            width: 75%;
            h1 {
                color: #F8C801;
                font-size: 40px;
                font-family: 'Open Sans', sans-serif;
                font-weight: normal;


            }
            p {
                color: #fff;
                font-size: 25px;
                font-family: 'Open Sans', sans-serif;
                font-weight: normal;

            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        justify-content: center;
    }
   }
}
// fourth
.fourth {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        transform: scale(1.1);
        margin: auto;
    }
    .fourth-btn {
        background-color: #A80E0E;
        color: #fff;
        padding: 15px 45px;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        border-radius: 100px 100px 100px 100px / 80px 80px 80px 80px;
        margin-top: 2em;

        &:hover {
            border: 1px solid #A80E0E;
            color: #A80E0E;
            background-color: #fff;
        }
    }
}
// fifth
.fifth {
    background-color: #EBEBEB;
    .car-part {
        display: flex;
        justify-content: center;
        align-items: center;


        .car-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center !important;
            margin: auto;


            img {
                width: 500px;
                height: 500px !important;
                padding: 1em;
            }

            .one {
                position: relative;
                &:hover p {
                    opacity: 0;
                    transition: opacity .5s;
                }
                &:hover .second {
                    opacity: 0;
                    transition: opacity .5s;
                }
                .overlay {
                    position: absolute;
                    width: 70%;
                    height: 70%;
                    background-color: rgba(235, 235, 235, 0.753);
                    backdrop-filter: blur(5px);
                    top: 10%;
                    left: 15%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    opacity: 0;
                    transform: translateY(25px);

                    &:hover {
                        opacity: 1;
                        transition: opacity .5s;
                        transform: translateY(0);
                        transition: transform 0.25s;

                    }


                    h1 {
                        font-size: 50px;
                        font-family: 'Open sans', sans-serif;
                    }
                    h3 {
                        font-size: 25px;
                        text-align: center;
                        margin-top: 0.25em;
                        width: 75%;
                        font-family: 'poppins',sans-serif;
                        line-height: 1.3em;
                    }
                    a {
                        font-size: 20px;
                        padding: 10px 25px;
                        border-radius:35px;
                        font-family: 'poppins',sans-serif;
                        background-color: #000;
                        color: #fff;

                        &:hover {
                            color: #000;
                            background-color: #fff;
                            border: 1px solid #000;
                        }
                    }
                }

                p {
                    padding:10px 25px;
                    background-color: #4b4a4a;
                    color: #fff;
                    font-family: 'Open sans', sans-serif;
                    font-size: 30px;
                    position: absolute;
                    top: 2em;
                    left: 2.5em;
                    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                }
            }
        }
    }
}
// sixth
.sixth {
    overflow: hidden;
    .sixth-text {
        color: #C5B5B8;
        font-size: 23px;
        font-family: 'poppins',sans-serif;
        text-align: start;
    }
    hr {
        color: #C5B5B8;
        height: 3px;
    }
    .head {
        font-size: 34px;
        font-weight: bolder;
        font-family: 'Open sans',sans-serif;
        margin-bottom: .5em;
    }
   .sixth-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img:hover {
        transform: scale(1.1);
        transition: .6s ease-out;
    }
   }
}
// seventh
.cert-section {
    overflow: hidden;
    .cert-head {
        font-weight: bold;
        font-size: 34px;
        font-family: 'Open sans',sans-serif;
    }
    .cert-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width:85% !important;
            height:85% !important;
        }
    }
    .cert-text {
        h1 {
            font-size: 25px;
            color: #666666;
            font-family: 'Open sans',sans-serif;
            margin-bottom: 1em;
        }
        p {
            font-size:1em;
            font-family: 'Poppins',sans-serif;
            color: #707070;
            line-height: 1.7em;
            font-weight: bolder;

        }
        background-color: #e6e6e6b0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: flex-start;
    }
    .our-mission {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        color: #707070;
        h1 {
            font-size: 35px;
            font-weight: 600;
            font-family: 'Open sans',sans-serif;
        }
        p {
            font-size: 1.3em;
            font-family: 'Open sans',sans-serif;

        }
    }
}
// eighth
.business {
    overflow: hidden;
    .row {
        h1 {
            font-weight: bold;
        }
        p {
            font-size: 1.5em;
            font-family: 'poppins',sans-serif;
            color:#C5B5B8;
        }
    }
}
// tenth
.gallery {
    overflow: hidden;
    background-image: url('../img/gallerybg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h1 {
        color: #fff;

    }
    .item img {
        border: 2px solid #fff;
        overflow: hidden !important;
    }
    .item {
        overflow: hidden;
        min-height: 310px ;
        min-width: 240px;
        border: 2px solid #fff;

    }
    .gal-btn {
        color: #fff;
        background: transparent;
        font-size: 1.2em;
        padding:10px 25px;
        border: 1px solid #fff;
        border-radius:25px;

        &:hover {
            background: #fff;
            color: #000;
            transition: all 0.3s;
        }
    }
}
// eleven
.About {
    overflow: hidden;
    .text {
        h1 {
            font-weight: bold;
            font-size: 38px;
            color: #000;
        }
        p {
            color: #C5B5B8;
            font-weight: bold;
            font-size: 1.2em;
            width: 90%;
            text-align:start;
        }
    }
}
// contact page
.contact {
    overflow: hidden;
    .contact-title {
        font-size: 1.3em;
        font-weight: bold;
    }
    .icons-data {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        p {
            color: #707070;
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 1.2em;
            line-height: 2em;
            i {
                color: #dc143c;
                font-size: 2em;
                padding-right: .5em;
                vertical-align: middle;
                align-self: flex-start;
            }
        }
    }
    .social {
        margin: auto;
        p {
            font-size: 1.3em;
            font-weight: bold;
        }
        a {
            padding: .25em !important;
            i {
                font-size: 2em;

                color: #dc143c;
                &:hover {
                    color: #707070;
                    transition: all 0.3s;
                }
            }

        }
    }
    .form-container {
        form {
            margin: auto;
            h3 {
                font-size: 1.2em;
                font-weight: bold;
                color: #707070;
            }
            margin-right: auto;
            padding: 1em;
            max-width: 450px;
            height: 100%;
            background-color: #fbf3cf3d;
            border-left: 1px solid #FFAA00;
            p {
                color: #707070;
                font-weight: bold;
                margin: 0;
            }
            .city {
                margin-bottom: 1em;
                display: flex;
                justify-content: space-between;
            }
            input {
                width: 100%;
                margin-bottom: 1em !important;
            }
            textarea {
                width: 100%;
            }
            a {
                text-decoration: none;
               .message-send-contact {
                   color: #fff;
                   background-color:#948e65 ;
                   padding: .5em 1em !important;
                   margin-top: 1em;
                   margin-bottom: 0 !important;
                   width: fit-content;
                   border: none;
                   font-weight: bold;
                   &:hover {
                       background-color: #fff;
                       color: #000;
                       border: 1px solid #000;
                       transition: all 0.3s;
                   }
               }
            }
        }

    }
}
// products page
.pro-section {
    overflow: hidden;
    .main-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 45px;
            color: #fff;
            background-color: #707070;
            padding: 15px 20px;
        }
    }
    .pro-first-container {
        background: url('../img/gallerybg.jpg') no-repeat ;
        background-size: cover;
        .pro-first-parent {
            overflow: hidden;
            display: grid;
            justify-content:center ;
            grid-template-rows: 100% 50%;
            grid-template-columns:65% 20%;
            grid-template-areas: "left  right right"
                                 "left  rightbottom rightbottom "
                                 ;
            grid-gap: 70px;


            .img-left {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit:fill;
                }
                grid-area: left;
            }
            .img-right-1 {
                img {

                    object-fit: fill;
                }
                grid-area: right;

            }
            .img-right-2 {

                img {
                    object-fit: fill;
                }
                grid-area: rightbottom;

            }
        }
    }
    .pro-second-container {
        background: url("../img/pro-kt-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        .first-card {
            height: fit-content !important;
            width: 100%;
            border: 0;
            background-color: rgba(253, 253, 253, 0.452);
           .first-img {
               height: 70% !important;
           }
           .crd-body {
               h5 {
                   font-size: 55px;
               }
               p {
                   padding-top: 2rem;
                   width: 90%;
                   font-size: 20px;
               }
           }
        }
    }
    .pro-third-container {
        background: url('../img/third.png');
        .pro-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
// map part
#map {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    max-width: 100%;

}
// news & events section
.news-title {
    color: #A80E0E;
    font-family: 'Open Sans', sans-serif;
}
.news-text {
    color: #bb9aa0;
    font-size: 1.5rem;
    font-family: sans-serif;
    line-height: 1.2em;
}
.slider-wrap {
    position: relative;

    .thumbnail-slider-area {

        width: 100%;
        z-index: 1;
        margin: auto;
        .thumbnail-slider {
            img {
                border: 5px solid #fff;
                border-radius: 5px;
            }
        }
    }
}
// footer
footer {
    background-color: #000;
    max-height: 100%;
    .footer-section {
        display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            border-bottom: 2px solid #fff;
            display: flex;
            width: fit-content;
            li {
                a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5em;
                font-weight:600;
                &:hover {
                    color: #dc143c !important;
                    transition: all 0.3s;
                }
                }
            }
        }
        p {
            width: 90%;
            font-size: 1.2em;
            color: #fff;
            font-weight: bold;
        }
        .footer-icons {
            a {
                font-size: 1.5em;
                color: #fff;
                &:hover {
                    color: #dc143c;
                    transition: all 0.3s;
                }
            }
        }
    }
}

@media (max-width:1900px) {
    .navbarr {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: rgba(167, 167, 167, 0.404);
        backdrop-filter: blur(5px);

        color: #fff;






        .toggle-button {
            position: absolute;
            top: 2rem;
            right: 2rem;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 40px;
            height: 25px;
            border: none;
            background-color: transparent;
            &:hover .bar {
                transition: all .3s;
                background-color: #000;
            }
            .toggler-icon {
                height: 3px;
                width: 100%;
                background-color: #fff;
                border-radius: 10px;
            }
        }
        .brand a {
            text-decoration:none ;
            font-size: 2em;
            margin: 0.5rem;
            padding:2rem 1rem;
            color: crimson;
            font-weight: 600;
            &:hover {
                color: #000000;
                transition: all .3s;
            }
        }
        .navbarr-links ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                list-style: none;
                .active {
                    padding-top: 2rem 1rem;
                    // background-color: rgba(170, 170, 170, 0.555);
                    border-top: 15px solid #dc143c;
                    border-bottom: 15px solid transparent;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    padding:1rem .5rem;
                    font-size: 1.5em;
                    display: block;

                    &:hover {
                        color: #000;
                        transition: all 0.2s;
                    }
                }


            }

            li.nav-butn {
                background-color: #dc143c;
                margin: 0;
                padding: 0;
                height: 100% !important;
                button {
                    border: 0;
                    padding:2.5rem 1rem;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    background-color: transparent;
                    &:hover input , &:hover i{
                        color: #000;
                        transition: all .2s;
                    }

                    i {
                        font-size: 1.5em;
                        color: #fff;
                    }
                    input {
                        color: #fff;
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
            }
        }
    }
    .white-nv {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color:#fff;
        box-shadow: 0px 1px 4px #bbbbbb;
        transition: all 0.3s ease-in-out;
        color: #dc143c;






        .toggle-button {
            position: absolute;
            top: 2rem;
            right: 2rem;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 40px;
            height: 25px;
            border: none;
            background-color: transparent;
            &:hover .bar {
                transition: all .3s;
                background-color: #dc143c;
            }
            .toggler-icon {
                height: 3px;
                width: 100%;
                background-color: #000;
                border-radius: 10px;
            }
        }
        .brand a {
            text-decoration:none ;
            font-size: 2em;
            margin: 0.5rem;
            padding:2rem 1rem;
            color: crimson;
            font-weight: 600;
            &:hover {
                color: #000000;
                transition: all .3s;
            }
        }
        .navbarr-links ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                list-style: none;
                .active {
                    padding-top: 2rem 1rem;
                    // background-color: rgba(170, 170, 170, 0.555);
                    border-top: 15px solid #dc143c;
                    border-bottom: 15px solid transparent;
                }
                a {
                    text-decoration: none;
                    color: #dc143c;
                    padding:1rem .5rem;
                    font-size: 1.5em;
                    display: block;

                    &:hover {
                        color: #000;
                        transition: all 0.2s;
                    }
                }


            }

            li.nav-butn {
                background-color: #dc143c;
                margin: 0;
                padding: 0;
                height: 100% !important;
                button {
                    border: 0;
                    padding:2.5rem 1rem;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    background-color: transparent;
                    &:hover input , &:hover i{
                        color: #000;
                        transition: all .2s;
                    }

                    i {
                        font-size: 1.5em;
                        color: #fff;
                    }
                    input {
                        color: #fff;
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width: 1480px) {
     .navbarr {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: rgba(167, 167, 167, 0.404);
        backdrop-filter: blur(5px);

        color: #fff;






        .toggle-button {
            position: absolute;
            top: 2rem;
            right: 2rem;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 40px;
            height: 25px;
            border: none;
            background-color: transparent;
            &:hover .bar {
                transition: all .3s;
                background-color: #000;
            }
            .toggler-icon {
                height: 3px;
                width: 100%;
                background-color: #fff;
                border-radius: 10px;
            }
        }
        .brand a {
            text-decoration:none ;
            font-size: 1.7em;
            margin: 0.5rem;
            padding:2rem 1rem;
            color: crimson;
            font-weight: 600;
            &:hover {
                color: #000000;
                transition: all .3s;
            }
        }
        .navbarr-links ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                list-style: none;
                .active {
                    padding-top: 2rem 1rem;
                    // background-color: rgba(170, 170, 170, 0.555);
                    border-top: 15px solid #dc143c;
                    border-bottom: 15px solid transparent;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    padding:1rem .6rem;
                    font-size: 1.3em;
                    display: block;

                    &:hover {
                        color: #000;
                        transition: all 0.2s;
                    }
                }


            }

            li.nav-butn {
                background-color: #dc143c;
                margin: 0;
                padding: 0;
                height: 100% !important;
                button {
                    border: 0;
                    padding:2.5rem 1rem;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    background-color: transparent;
                    &:hover input , &:hover i{
                        color: #000;
                        transition: all .2s;
                    }

                    i {
                        font-size: 1.3em;
                        color: #fff;
                    }
                    input {
                        color: #fff;
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
            }
        }
    }
    .white-nv {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color:#fff;
        color: #dc143c;






        .toggle-button {
            position: absolute;
            top: 2rem;
            right: 2rem;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 40px;
            height: 25px;
            border: none;
            background-color: transparent;
            &:hover .bar {
                transition: all .3s;
                background-color: #dc143c;
            }
            .toggler-icon {
                height: 3px;
                width: 100%;
                background-color: #000;
                border-radius: 10px;
            }
        }
        .brand a {
            text-decoration:none ;
            font-size: 1.7em;
            margin: 0.5rem;
            padding:2rem 1rem;
            color: crimson;
            font-weight: 600;
            &:hover {
                color: #000000;
                transition: all .3s;
            }
        }
        .navbarr-links ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                list-style: none;
                .active {
                    padding-top: 2rem 1rem;
                    // background-color: rgba(170, 170, 170, 0.555);
                    border-top: 15px solid #dc143c;
                    border-bottom: 15px solid transparent;
                }
                a {
                    text-decoration: none;
                    color: #dc143c;
                    padding:1rem .6rem;
                    font-size: 1.3em;
                    display: block;

                    &:hover {
                        color: #000;
                        transition: all 0.2s;
                    }
                }


            }

            li.nav-butn {
                background-color: #dc143c;
                margin: 0;
                padding: 0;
                height: 100% !important;
                button {
                    border: 0;
                    padding:2.5rem 1rem;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    background-color: transparent;
                    &:hover input , &:hover i{
                        color: #000;
                        transition: all .2s;
                    }

                    i {
                        font-size: 1.3em;
                        color: #fff;
                    }
                    input {
                        color: #fff;
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width: 1280px) {
    .navbarr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        backdrop-filter: blur(5px);
        background-color: rgba(75, 75, 75, 0.753);

        .brand {
            padding: 1rem;

         a{
            font-size:2em;
         }
        }
        .navbarr-links {
            display: none;
            width: 100%;
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                text-align: center;
                width: 100%;

                &:hover {
                    background-color: rgba(207, 207, 207, 0.603);
                    transition: all 0.2s;
                }
                a {
                    padding: .7rem 1rem;
                }
            }
            li.nav-butn {
                display: flex;
                justify-content: center;
                button {
                    padding: .7rem 1rem;
                }
            }

        }
        }

        .toggle-button {
            display: flex;
        }
        .navbarr-links.navActive {
            display: flex;
        }
    }
    .white-nv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;

        .brand {
            padding: 1rem;
       
         a{
            font-size:2em;
         }
        }
        .navbarr-links {
            display: none;
            width: 100%;
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                text-align: center;
                width: 100%;

                &:hover {
                    background-color: rgba(207, 207, 207, 0.603);
                    transition: all 0.2s;
                }
                a {
                    padding: .7rem 1rem;
                }
            }
            li.nav-butn {
                display: flex;
                justify-content: center;
                button {
                    padding: .7rem 1rem;
                }
            }
          
        }
        }

        .toggle-button {
            display: flex;
        }
        .navbarr-links.navActive {
            display: flex;
        }
    }
    
    .carousel img {
        height: 50vh !important;
    }
    .third-main {
        height: 100%;

        img {
            width: 90%;
            height: 90%;
        }

    }
}
@media (max-width: 1000px) {
    #map {
        height: 500px !important;
        max-width: 100%;
    }
    .pro-section {
        .main-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 45px;
                color: #fff;
                background-color: #707070;
                padding: 15px 20px;
            }
        }
        .pro-first-container {
            background: url('../img/gallerybg.jpg') no-repeat ;
            background-size: cover;
            .pro-first-parent {
                display: grid;
                justify-content:center ;
                grid-template-rows: repeat(auto,3);
                grid-template-columns:repeat(2,1fr);
                grid-template-areas: "left right"
                                     "rightbottom ."
                                     ;
                grid-gap: 40px;
                
                .img-left {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit:fill;
                    }
                    grid-area: left;
                }
                .img-right-1 {
                    img {
    
                        object-fit: fill;
                    }
                    grid-area: right;
    
                }
                .img-right-2 {
    
                    img {
                        object-fit: fill;
                    }
                    grid-area: rightbottom;
    
                }
            }
        }

        .pro-third-container {
            background: url('../img/third.png');
            .pro-grid {
                display: grid;
                grid-template-columns:repeat(2, 1fr);
                
            }
        }
        
    }
}
@media (max-width: 600px) {
    #map {
        height: 300px !important;
        max-width: 100%;
    }
    // products
    .pro-section {
        .main-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 45px;
                color: #fff;
                background-color: #707070;
                padding: 15px 20px;
            }
        }
        .pro-first-container {
            background: url('../img/gallerybg.jpg') no-repeat ;
            background-size: cover;
            .pro-first-parent {
                display: grid;
                justify-content:center ;
                grid-template-rows: repeat(auto,3);
                grid-template-columns:100%;
                grid-template-areas: "left"
                                     "right"
                                     "rightbottom"
                                     ;
                grid-gap: 40px;
                
                .img-left {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit:fill;
                    }
                    grid-area: left;
                }
                .img-right-1 {
                    img {
    
                        object-fit: fill;
                    }
                    grid-area: right;
    
                }
                .img-right-2 {
    
                    img {
                        object-fit: fill;
                    }
                    grid-area: rightbottom;
    
                }
            }
        }

        .pro-third-container {
            background: url('../img/third.png');
            .pro-grid {
                display: grid;
                grid-template-columns:1fr;
                margin: auto;
               
            }
        }
        
    }

        // contact
    .contact {
        .icons-data {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
    .fifth {
        background-color: #EBEBEB;
        .car-part {
            display: flex;
            justify-content: center;
            align-items: center;
        
            .car-lift {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center !important;
                margin: auto;
               
                
                img {
                    width: 500px;
                    height: 500px !important;
                    padding: 1em;
                }
                
              
                    position: relative;
                    &:hover p {
                        opacity: 0;
                        transition: opacity .5s;
                    }
                    &:hover .second {
                        opacity: 0;
                        transition: opacity .5s;
                    }
                    .overlay {
                        position: absolute;
                        width: 70%;
                        height: 70%;
                        background-color: rgba(235, 235, 235, 0.753);
                        backdrop-filter: blur(5px);
                        top: 10%;
                        left: 15%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        opacity: 0;
                        transform: translateY(25px);
        
                        &:hover {
                            opacity: 1;
                            transition: opacity .5s;
                            transform: translateY(0);
                            transition: transform 0.25s;
                           
                        }
                       
                       
                        h1 {
                            font-size: 25px;
                            font-weight: bold;
                        }
                        h3 {
                            font-size: 20px;
                            text-align: center;
                            margin-top: 0.25em;
                            width: 75%;
                            line-height: 2em;
                        }
                        a {
                            font-size: 20px;
                            padding: 10px 25px;
                            border-radius:35px;
                            background-color: #000;
                            color: #fff;
        
                            &:hover {
                                color: #000;
                                background-color: #fff;
                                border: 1px solid #000;
                            }
                        }
                    }
                    
                    p {
                        padding:.5em;
                        background-color: #707070;
                        color: #fff;
                        font-size: 30px;
                        font-weight: bold;
                        border-radius: 5px;
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    }
              
                
                   
                   
                   
               
               
            }

            .car-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center !important;
                margin: auto;
               
                
                img {
                    width: 500px;
                    height: 500px !important;
                    padding: 1em;
                }
                
                .one {
                    position: relative;
                    &:hover p {
                        opacity: 0;
                        transition: opacity .5s;
                    }
                    &:hover .second {
                        opacity: 0;
                        transition: opacity .5s;
                    }
                    .overlay {
                        position: absolute;
                        width: 70%;
                        height: 70%;
                        background-color: rgba(235, 235, 235, 0.753);
                        backdrop-filter: blur(5px);
                        top: 10%;
                        left: 15%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        opacity: 0;
                        transform: translateY(25px);
        
                        &:hover {
                            opacity: 1;
                            transition: opacity .5s;
                            transform: translateY(0);
                            transition: transform 0.25s;
                           
                        }
                       
                       
                        h1 {
                            font-size: 25px;
                            font-weight: bold;
                        }
                        h3 {
                            font-size: 20px;
                            text-align: center;
                            margin-top: 0.25em;
                            width: 75%;
                            line-height: 2em;
                        }
                        a {
                            font-size: 20px;
                            padding: 10px 25px;
                            border-radius:35px;
                            background-color: #000;
                            color: #fff;
        
                            &:hover {
                                color: #000;
                                background-color: #fff;
                                border: 1px solid #000;
                            }
                        }
                    }
                    
                    p {
                        padding:.5em;
                        background-color: #707070;
                        color: #fff;
                        font-size: 30px;
                        font-weight: bold;
                        border-radius: 5px;
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    }
                }
            }
        }
    }
    
  
    

    .footer-section {
        display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
        
        ul {
            border-bottom: 2px solid #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li {
                
                &:first-child {
                    padding-left: 0 !important;
                }
                a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5em;
                }
            }
        } 
        p {
            color: #fff;
            font-weight: bold;
        }
    }
}


