@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

section {
  overflow: hidden;
}

.navbarr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: rgba(167, 167, 167, 0.404);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
}

.navbarr .toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.navbarr .toggle-button:hover .bar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #000;
}

.navbarr .toggle-button .toggler-icon {
  height: 3px;
  width: 100%;
  background-color: #fff !important;
  border-radius: 10px;
}

.navbarr .brand a {
  text-decoration: none;
  font-size: 2.5em;
  margin: 0.5rem;
  padding: 2rem 1rem;
  color: crimson;
  font-weight: 600;
}

.navbarr .brand a:hover {
  color: #000000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbarr .navbarr-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarr .navbarr-links ul li {
  list-style: none;
}

.navbarr .navbarr-links ul li .active {
  padding-top: 2rem 1rem;
  border-top: 15px solid #dc143c;
  border-bottom: 15px solid transparent;
}

.navbarr .navbarr-links ul li a {
  text-decoration: none;
  color: #fff;
  padding: 2rem 1rem;
  font-size: 1.5em;
  display: block;
}

.navbarr .navbarr-links ul li a:hover {
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbarr .navbarr-links ul li.nav-butn {
  background-color: #dc143c;
  margin: 0;
  padding: 0;
  height: 100% !important;
}

.navbarr .navbarr-links ul li.nav-butn button {
  border: 0;
  padding: 2.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: transparent;
}

.navbarr .navbarr-links ul li.nav-butn button:hover input, .navbarr .navbarr-links ul li.nav-butn button:hover i {
  color: #000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbarr .navbarr-links ul li.nav-butn button i {
  font-size: 1.5em;
  color: #fff;
}

.navbarr .navbarr-links ul li.nav-butn button input {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.white-nv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #fff;
  color: #dc143c;
  -webkit-box-shadow: 0px 1px 4px #bbbbbb;
          box-shadow: 0px 1px 4px #bbbbbb;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.white-nv .toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.white-nv .toggle-button:hover .bar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #dc143c;
}

.white-nv .toggle-button .toggler-icon {
  height: 3px;
  width: 100%;
  background-color: #000 !important;
  border-radius: 10px;
}

.white-nv .brand a {
  text-decoration: none;
  font-size: 2.5em;
  margin: 0.5rem;
  padding: 2rem 1rem;
  color: crimson;
  font-weight: 600;
}

.white-nv .brand a:hover {
  color: #000000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.white-nv .navbarr-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-nv .navbarr-links ul li {
  list-style: none;
}

.white-nv .navbarr-links ul li .active {
  padding-top: 2rem 1rem;
  border-top: 15px solid #dc143c;
  border-bottom: 15px solid transparent;
}

.white-nv .navbarr-links ul li a {
  text-decoration: none;
  color: #dc143c;
  padding: 2rem 1rem;
  font-size: 1.5em;
  display: block;
}

.white-nv .navbarr-links ul li a:hover {
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.white-nv .navbarr-links ul li.nav-butn {
  background-color: #dc143c;
  margin: 0;
  padding: 0;
  height: 100% !important;
}

.white-nv .navbarr-links ul li.nav-butn button {
  border: 0;
  padding: 2.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: transparent;
}

.white-nv .navbarr-links ul li.nav-butn button:hover input, .white-nv .navbarr-links ul li.nav-butn button:hover i {
  color: #000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.white-nv .navbarr-links ul li.nav-butn button i {
  font-size: 1.5em;
  color: #fff;
}

.white-nv .navbarr-links ul li.nav-butn button input {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 4rem !important;
  height: 4rem !important;
}

.h-img {
  height: 100vh;
}

.underbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 90;
}

.title h1 {
  color: #A80E0E;
  font-size: 55px;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
}

.title p {
  font-size: 26px;
  margin-top: .5em;
  font-family: 'Poppins', sans-serif;
}

.first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.main-crd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: relative;
}

.about {
  overflow: hidden;
}

.about .main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 472px;
  min-height: 620px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 1em;
}

.about .main-card img {
  position: absolute;
  top: -5em;
}

.about .main-card h1 {
  margin-bottom: 1em;
  margin-top: 1.5em;
  font-size: 40px;
  color: #000;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.about .main-card p {
  width: 90%;
  font-size: 1.5em;
  line-height: 1.8em;
  text-align: start;
  color: #4D533C;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.about .main-card .main-btn {
  color: #fff;
  background-color: #FFAA00;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 2em;
}

.about .main-card .main-btn:hover {
  color: #FFAA00;
  border: 1px solid #FFAA00;
  background-color: #fff;
}

.third-main {
  background-image: url("../img/SECTION1BG.png");
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

.third-main .third-row {
  height: 100%;
}

.third-main .third-row .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: start;
  height: 100%;
}

.third-main .third-row .left-part .line {
  width: 150%;
  height: 10px;
  background-color: #fff;
}

.third-main .third-row .left-part .top-text, .third-main .third-row .left-part .bottom-text {
  padding-left: 3em;
  width: 75%;
}

.third-main .third-row .left-part .top-text h1, .third-main .third-row .left-part .bottom-text h1 {
  color: #F8C801;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.third-main .third-row .left-part .top-text p, .third-main .third-row .left-part .bottom-text p {
  color: #fff;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.third-main .third-row .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourth {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourth img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin: auto;
}

.fourth .fourth-btn {
  background-color: #A80E0E;
  color: #fff;
  padding: 15px 45px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  border-radius: 100px 100px 100px 100px / 80px 80px 80px 80px;
  margin-top: 2em;
}

.fourth .fourth-btn:hover {
  border: 1px solid #A80E0E;
  color: #A80E0E;
  background-color: #fff;
}

.resize {
  height: 450px;
}

.fifth {
  background-color: #EBEBEB;
}

.fifth .car-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fifth .car-part .car-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  margin: auto;
  height: 100%;
}

.fifth .car-part .car-right .one {
  height: 450px !important;
  width: 450px !important;
  position: relative;
}

.fifth .car-part .car-right .one img {
  overflow: hidden;
  width: 450px !important;
  height: 450px !important;
  padding: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.fifth .car-part .car-right .one:hover p {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fifth .car-part .car-right .one:hover .second {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fifth .car-part .car-right .one .overlay {
  padding: 1rem;
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: rgba(235, 235, 235, 0.753);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  top: 10%;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  opacity: 0;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.fifth .car-part .car-right .one .overlay:hover {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.fifth .car-part .car-right .one .overlay h1 {
  font-size: 50px;
  font-family: 'Open sans', sans-serif;
}

.fifth .car-part .car-right .one .overlay h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 0.25em;
  width: 75%;
  font-family: 'poppins',sans-serif;
  line-height: 1.3em;
}

.fifth .car-part .car-right .one .overlay a {
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 35px;
  font-family: 'poppins',sans-serif;
  background-color: #000;
  color: #fff;
}

.fifth .car-part .car-right .one .overlay a:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.fifth .car-part .car-right .one p {
  padding: 10px 25px;
  background-color: #4b4a4a;
  color: #fff;
  font-family: 'Open sans', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 2em;
  left: 2.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sixth {
  overflow: hidden;
}

.sixth .sixth-text {
  color: #C5B5B8;
  font-size: 23px;
  font-family: 'poppins',sans-serif;
  text-align: start;
}

.sixth hr {
  color: #C5B5B8;
  height: 3px;
}

.sixth .head {
  font-size: 34px;
  font-weight: bolder;
  font-family: 'Open sans',sans-serif;
  margin-bottom: .5em;
}

.sixth .sixth-img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sixth .sixth-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .6s ease-out;
  transition: .6s ease-out;
}

.cert-section {
  overflow: hidden;
}

.cert-section .cert-head {
  font-weight: bold;
  font-size: 34px;
  font-family: 'Open sans',sans-serif;
}

.cert-section .cert-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cert-section .cert-container img {
  width: 85% !important;
  height: 85% !important;
}

.cert-section .cert-text {
  background-color: #e6e6e6b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: flex-start;
}

.cert-section .cert-text h1 {
  font-size: 25px;
  color: #666666;
  font-family: 'Open sans',sans-serif;
  margin-bottom: 1em;
}

.cert-section .cert-text p {
  font-size: 1em;
  font-family: 'Poppins',sans-serif;
  color: #707070;
  line-height: 1.7em;
  font-weight: bolder;
}

.cert-section .our-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: #707070;
}

.cert-section .our-mission h1 {
  font-size: 35px;
  font-weight: 600;
  font-family: 'Open sans',sans-serif;
}

.cert-section .our-mission p {
  font-size: 1.3em;
  font-family: 'Open sans',sans-serif;
}

.business {
  overflow: hidden;
}

.business .row h1 {
  font-weight: bold;
}

.business .row p {
  font-size: 1.5em;
  font-family: 'poppins',sans-serif;
  color: #C5B5B8;
}

.gallery {
  overflow: hidden;
  background-image: url("../img/gallerybg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery h1 {
  color: #fff;
}

.gallery .item img {
  overflow: hidden !important;
  width: 70%;
  height: 90%;
  object-fit: cover;

}

.gallery .item {
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.gallery .gal-btn {
  color: #fff;
  background: transparent;
  font-size: 1.2em;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 25px;
}

.gallery .gal-btn:hover {
  background: #fff;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.About {
  overflow: hidden;
}

.About .text h1 {
  font-weight: bold;
  font-size: 38px;
  color: #000;
}

.About .text p {
  color: #C5B5B8;
  font-weight: bold;
  font-size: 1.2em;
  width: 90%;
  text-align: start;
}

.contact {
  overflow: hidden;
}

.contact .contact-title {
  font-size: 1.3em;
  font-weight: bold;
}

.contact .icons-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .icons-data p {
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1.2em;
  line-height: 2em;
}

.contact .icons-data p i {
  color: #dc143c;
  font-size: 2em;
  padding-right: .5em;
  vertical-align: middle;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact .social {
  margin: auto;
}

.contact .social p {
  font-size: 1.3em;
  font-weight: bold;
}

.contact .social a {
  padding: .25em !important;
}

.contact .social a i {
  font-size: 2em;
  color: #dc143c;
}

.contact .social a i:hover {
  color: #707070;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .form-container form {
  margin: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 450px;
  height: 100%;
  background-color: #fbf3cf3d;
  border-left: 1px solid #FFAA00;
}

.contact .form-container form h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #707070;
}

.contact .form-container form p {
  color: #707070;
  font-weight: bold;
  margin: 0;
}

.contact .form-container form .city {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .form-container form input {
  width: 100%;
  margin-bottom: 1em !important;
}

.contact .form-container form textarea {
  width: 100%;
}

.contact .form-container form a {
  text-decoration: none;
}

.contact .form-container form a .message-send-contact {
  color: #fff;
  background-color: #948e65;
  padding: .5em 1em !important;
  margin-top: 1em;
  margin-bottom: 0 !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  font-weight: bold;
}

.contact .form-container form a .message-send-contact:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pro-section {
  overflow: hidden;
}

.pro-section .main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pro-section .main-btn h1 {
  font-size: 45px;
  color: #fff;
  background-color: #707070;
  padding: 15px 20px;
}

.pro-section .pro-first-container {
  background: url("../img/gallerybg.jpg") no-repeat;
  background-size: cover;
}

.pro-section .pro-first-container .pro-first-parent {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 100% 50%;
      grid-template-rows: 100% 50%;
  -ms-grid-columns: 65% 20%;
      grid-template-columns: 65% 20%;
      grid-template-areas: "left  right right"
 "left  rightbottom rightbottom ";
  grid-gap: 70px;
}

.pro-section .pro-first-container .pro-first-parent .img-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
}

.pro-section .pro-first-container .pro-first-parent .img-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.pro-section .pro-first-container .pro-first-parent .img-right-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: right;
}

.pro-section .pro-first-container .pro-first-parent .img-right-1 img {
  -o-object-fit: fill;
     object-fit: fill;
}

.pro-section .pro-first-container .pro-first-parent .img-right-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: rightbottom;
}

.pro-section .pro-first-container .pro-first-parent .img-right-2 img {
  -o-object-fit: fill;
     object-fit: fill;
}

.pro-section .pro-second-container {
  background: url("../img/pro-kt-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.pro-section .pro-second-container .first-card {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  width: 100%;
  border: 0;
  background-color: rgba(253, 253, 253, 0.452);
}

.pro-section .pro-second-container .first-card .first-img {
  height: 70% !important;
}

.pro-section .pro-second-container .first-card .crd-body h5 {
  font-size: 55px;
}

.pro-section .pro-second-container .first-card .crd-body p {
  padding-top: 2rem;
  width: 90%;
  font-size: 20px;
}

.pro-section .pro-third-container {
  background: url("../img/third.png");
}

.pro-section .pro-third-container .pro-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#map {
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  max-width: 100%;
}

.news-title {
  color: #A80E0E;
  font-family: 'Open Sans', sans-serif;
}

.news-text {
  color: #bb9aa0;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 1.2em;
}

.slider-wrap {
  position: relative;
}

.slider-wrap .thumbnail-slider-area {
  width: 100%;
  z-index: 1;
  margin: auto;
}

.slider-wrap .thumbnail-slider-area .thumbnail-slider img {
  border: 5px solid #fff;
  border-radius: 5px;
}

footer {
  background-color: #000;
  max-height: 100%;
}

footer .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-section ul {
  border-bottom: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .footer-section ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
}

footer .footer-section ul li a:hover {
  color: #dc143c !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .footer-section p {
  width: 90%;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
}

footer .footer-section .footer-icons a {
  font-size: 1.5em;
  color: #fff;
}

footer .footer-section .footer-icons a:hover {
  color: #dc143c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1900px) {
  .navbarr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: rgba(167, 167, 167, 0.404);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
  }
  .navbarr .toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40px;
    height: 25px;
    border: none;
    background-color: transparent;
  }
  .navbarr .toggle-button:hover .bar {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #000;
  }
  .navbarr .toggle-button .toggler-icon {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  .navbarr .brand a {
    text-decoration: none;
    font-size: 2em;
    margin: 0.5rem;
    padding: 2rem 1rem;
    color: crimson;
    font-weight: 600;
  }
  .navbarr .brand a:hover {
    color: #000000;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .navbarr .navbarr-links ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbarr .navbarr-links ul li {
    list-style: none;
  }
  .navbarr .navbarr-links ul li .active {
    padding-top: 2rem 1rem;
    border-top: 15px solid #dc143c;
    border-bottom: 15px solid transparent;
  }
  .navbarr .navbarr-links ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem .5rem;
    font-size: 1.5em;
    display: block;
  }
  .navbarr .navbarr-links ul li a:hover {
    color: #000;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbarr .navbarr-links ul li.nav-butn {
    background-color: #dc143c;
    margin: 0;
    padding: 0;
    height: 100% !important;
  }
  .navbarr .navbarr-links ul li.nav-butn button {
    border: 0;
    padding: 2.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background-color: transparent;
  }
  .navbarr .navbarr-links ul li.nav-butn button:hover input, .navbarr .navbarr-links ul li.nav-butn button:hover i {
    color: #000;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .navbarr .navbarr-links ul li.nav-butn button i {
    font-size: 1.5em;
    color: #fff;
  }
  .navbarr .navbarr-links ul li.nav-butn button input {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
  }
  .white-nv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 4px #bbbbbb;
            box-shadow: 0px 1px 4px #bbbbbb;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #dc143c;
  }
  .white-nv .toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40px;
    height: 25px;
    border: none;
    background-color: transparent;
  }
  .white-nv .toggle-button:hover .bar {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #dc143c;
  }
  .white-nv .toggle-button .toggler-icon {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
  }
  .white-nv .brand a {
    text-decoration: none;
    font-size: 2em;
    margin: 0.5rem;
    padding: 2rem 1rem;
    color: crimson;
    font-weight: 600;
  }
  .white-nv .brand a:hover {
    color: #000000;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .white-nv .navbarr-links ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .white-nv .navbarr-links ul li {
    list-style: none;
  }
  .white-nv .navbarr-links ul li .active {
    padding-top: 2rem 1rem;
    border-top: 15px solid #dc143c;
    border-bottom: 15px solid transparent;
  }
  .white-nv .navbarr-links ul li a {
    text-decoration: none;
    color: #dc143c;
    padding: 1rem .5rem;
    font-size: 1.5em;
    display: block;
  }
  .white-nv .navbarr-links ul li a:hover {
    color: #000;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .white-nv .navbarr-links ul li.nav-butn {
    background-color: #dc143c;
    margin: 0;
    padding: 0;
    height: 100% !important;
  }
  .white-nv .navbarr-links ul li.nav-butn button {
    border: 0;
    padding: 2.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background-color: transparent;
  }
  .white-nv .navbarr-links ul li.nav-butn button:hover input, .white-nv .navbarr-links ul li.nav-butn button:hover i {
    color: #000;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .white-nv .navbarr-links ul li.nav-butn button i {
    font-size: 1.5em;
    color: #fff;
  }
  .white-nv .navbarr-links ul li.nav-butn button input {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
  }
}

@media (max-width: 1480px) {
  .navbarr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: rgba(167, 167, 167, 0.404);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
  }
  .navbarr .toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40px;
    height: 25px;
    border: none;
    background-color: transparent;
  }
  .navbarr .toggle-button:hover .bar {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #000;
  }
  .navbarr .toggle-button .toggler-icon {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  .navbarr .brand a {
    text-decoration: none;
    font-size: 1.7em;
    margin: 0.5rem;
    padding: 2rem 1rem;
    color: crimson;
    font-weight: 600;
  }
  .navbarr .brand a:hover {
    color: #000000;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .navbarr .navbarr-links ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbarr .navbarr-links ul li {
    list-style: none;
  }
  .navbarr .navbarr-links ul li .active {
    padding-top: 2rem 1rem;
    border-top: 15px solid #dc143c;
    border-bottom: 15px solid transparent;
  }
  .navbarr .navbarr-links ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem .6rem;
    font-size: 1.3em;
    display: block;
  }
  .navbarr .navbarr-links ul li a:hover {
    color: #000;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbarr .navbarr-links ul li.nav-butn {
    background-color: #dc143c;
    margin: 0;
    padding: 0;
    height: 100% !important;
  }
  .navbarr .navbarr-links ul li.nav-butn button {
    border: 0;
    padding: 2.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background-color: transparent;
  }
  .navbarr .navbarr-links ul li.nav-butn button:hover input, .navbarr .navbarr-links ul li.nav-butn button:hover i {
    color: #000;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .navbarr .navbarr-links ul li.nav-butn button i {
    font-size: 1.3em;
    color: #fff;
  }
  .navbarr .navbarr-links ul li.nav-butn button input {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
  }
  .white-nv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: #fff;
    color: #dc143c;
  }
  .white-nv .toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40px;
    height: 25px;
    border: none;
    background-color: transparent;
  }
  .white-nv .toggle-button:hover .bar {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #dc143c;
  }
  .white-nv .toggle-button .toggler-icon {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
  }
  .white-nv .brand a {
    text-decoration: none;
    font-size: 1.7em;
    margin: 0.5rem;
    padding: 2rem 1rem;
    color: crimson;
    font-weight: 600;
  }
  .white-nv .brand a:hover {
    color: #000000;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .white-nv .navbarr-links ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .white-nv .navbarr-links ul li {
    list-style: none;
  }
  .white-nv .navbarr-links ul li .active {
    padding-top: 2rem 1rem;
    border-top: 15px solid #dc143c;
    border-bottom: 15px solid transparent;
  }
  .white-nv .navbarr-links ul li a {
    text-decoration: none;
    color: #dc143c;
    padding: 1rem .6rem;
    font-size: 1.3em;
    display: block;
  }
  .white-nv .navbarr-links ul li a:hover {
    color: #000;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .white-nv .navbarr-links ul li.nav-butn {
    background-color: #dc143c;
    margin: 0;
    padding: 0;
    height: 100% !important;
  }
  .white-nv .navbarr-links ul li.nav-butn button {
    border: 0;
    padding: 2.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background-color: transparent;
  }
  .white-nv .navbarr-links ul li.nav-butn button:hover input, .white-nv .navbarr-links ul li.nav-butn button:hover i {
    color: #000;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .white-nv .navbarr-links ul li.nav-butn button i {
    font-size: 1.3em;
    color: #fff;
  }
  .white-nv .navbarr-links ul li.nav-butn button input {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .navbarr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(75, 75, 75, 0.753);
  }
  .navbarr .brand {
    padding: 1rem;
  }
  .navbarr .brand a {
    font-size: 2em;
  }
  .navbarr .navbarr-links {
    display: none;
    width: 100%;
  }
  .navbarr .navbarr-links ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbarr .navbarr-links ul li {
    text-align: center;
    width: 100%;
  }
  .navbarr .navbarr-links ul li:hover {
    background-color: rgba(207, 207, 207, 0.603);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbarr .navbarr-links ul li a {
    padding: .7rem 1rem;
  }
  .navbarr .navbarr-links ul li.nav-butn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbarr .navbarr-links ul li.nav-butn button {
    padding: .7rem 1rem;
  }
  .navbarr .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbarr .navbarr-links.navActive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .white-nv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fff;
  }
  .white-nv .brand {
    padding: 1rem;
  }
  .white-nv .brand a {
    font-size: 2em;
  }
  .white-nv .navbarr-links {
    display: none;
    width: 100%;
  }
  .white-nv .navbarr-links ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .white-nv .navbarr-links ul li {
    text-align: center;
    width: 100%;
  }
  .white-nv .navbarr-links ul li:hover {
    background-color: rgba(207, 207, 207, 0.603);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .white-nv .navbarr-links ul li a {
    padding: .7rem 1rem;
  }
  .white-nv .navbarr-links ul li.nav-butn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .white-nv .navbarr-links ul li.nav-butn button {
    padding: .7rem 1rem;
  }
  .white-nv .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .white-nv .navbarr-links.navActive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .carousel img {
    height: 50vh !important;
  }
  .third-main {
    height: 100%;
  }
  .third-main img {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 1000px) {
  #map {
    height: 500px !important;
    max-width: 100%;
  }
  .pro-section .main-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pro-section .main-btn h1 {
    font-size: 45px;
    color: #fff;
    background-color: #707070;
    padding: 15px 20px;
  }
  .pro-section .pro-first-container {
    background: url("../img/gallerybg.jpg") no-repeat;
    background-size: cover;
  }
  .pro-section .pro-first-container .pro-first-parent {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: (3)[auto];
        grid-template-rows: repeat(auto, 3);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "left right"
 "rightbottom .";
    grid-gap: 40px;
  }
  .pro-section .pro-first-container .pro-first-parent .img-left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .pro-section .pro-first-container .pro-first-parent .img-left img {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .pro-section .pro-first-container .pro-first-parent .img-right-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: right;
  }
  .pro-section .pro-first-container .pro-first-parent .img-right-1 img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .pro-section .pro-first-container .pro-first-parent .img-right-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rightbottom;
  }
  .pro-section .pro-first-container .pro-first-parent .img-right-2 img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .pro-section .pro-third-container {
    background: url("../img/third.png");
  }
  .pro-section .pro-third-container .pro-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #map {
    height: 300px !important;
    max-width: 100%;
  }
  .pro-section .main-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pro-section .main-btn h1 {
    font-size: 45px;
    color: #fff;
    background-color: #707070;
    padding: 15px 20px;
  }
  .pro-section .pro-first-container {
    background: url("../img/gallerybg.jpg") no-repeat;
    background-size: cover;
  }
  .pro-section .pro-first-container .pro-first-parent {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: (3)[auto];
        grid-template-rows: repeat(auto, 3);
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "left"
 "right"
 "rightbottom";
    grid-gap: 40px;
  }
  .pro-section .pro-first-container .pro-first-parent .img-left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .pro-section .pro-first-container .pro-first-parent .img-left img {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .pro-section .pro-first-container .pro-first-parent .img-right-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: right;
  }
  .pro-section .pro-first-container .pro-first-parent .img-right-1 img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .pro-section .pro-first-container .pro-first-parent .img-right-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: rightbottom;
  }
  .pro-section .pro-first-container .pro-first-parent .img-right-2 img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .pro-section .pro-third-container {
    background: url("../img/third.png");
  }
  .pro-section .pro-third-container .pro-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: auto;
  }
  .contact .icons-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fourth {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourth img {
    width: 100%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    margin: auto;
  }
  .fourth .fourth-btn {
    background-color: #A80E0E;
    color: #fff;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    border-radius: 100px 100px 100px 100px / 80px 80px 80px 80px;
    margin-top: 2em;
  }
  .fourth .fourth-btn:hover {
    border: 1px solid #A80E0E;
    color: #A80E0E;
    background-color: #fff;
  }
  .fifth {
    background-color: #EBEBEB;
  }
  .fifth .car-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fifth .car-part .car-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin: auto;
  }
  .fifth .car-part .car-right .one {
    position: relative;
  }
  .fifth .car-part .car-right .one img {
    padding: 2rem;
    overflow: hidden;
  }
  .fifth .car-part .car-right .one:hover p {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  .fifth .car-part .car-right .one:hover .second {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  .fifth .car-part .car-right .one .overlay {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: rgba(235, 235, 235, 0.753);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    top: 10%;
    left: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  .fifth .car-part .car-right .one .overlay:hover {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
  }
  .fifth .car-part .car-right .one .overlay h1 {
    font-size: 25px;
    font-weight: bold;
  }
  .fifth .car-part .car-right .one .overlay h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 0.25em;
    width: 75%;
    line-height: 2em;
  }
  .fifth .car-part .car-right .one .overlay a {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 35px;
    background-color: #000;
    color: #fff;
  }
  .fifth .car-part .car-right .one .overlay a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
  }
  .fifth .car-part .car-right .one p {
    padding: .5em;
    background-color: #707070;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 50px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-section ul {
    border-bottom: 2px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-section ul li:first-child {
    padding-left: 0 !important;
  }
  .footer-section ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
  }
  .footer-section p {
    color: #fff;
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */