<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Seven Sky | {% block subtitle %} Base {% endblock %} {% endblock %}</title>
    {% include 'base/css.html' %}
    {% block extra_style %}  {% endblock %}
</head>
<body>
    <main>
        <header id="home">
            {% include 'base/nav.html' %}
            {% block extra_header %}  {% endblock %}
        </header>
        {% block content %}  {% endblock %}
    </main>
    {% include 'base/footer.html' %}

    {% include 'base/js.html' %}
	{% block extra_js %} {% endblock %}
</body>
</html>