{% extends "base.html" %}
{% load static %}
{% load img_tags %}

{% block subtitle %} Home page {% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/style.css.map' %}">
{% endblock %}

{% block extra_header %}
<!-- Carousel Section -->
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" style="zoom: 125; margin-bottom: 0px;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/Pro.jpg' %}" class="d-block w-100" alt="main">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/Poster-4.jpg' %}" class="d-block w-100" alt="poster">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/Sachet-design.jpg' %}" class="d-block w-100" alt="secondposter">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock%}

{% block content %}
<!-- About Us - Companies -  Section -->
<section class="my-5 py-5" id="about" style="margin-top: 0px;">
    <div class="container-fluid about">
        <div class="title my-5 py-5 text-center" data-aos="fade-down" data-aos-duration="1000">
            <h1 onclick="window.location.assign('{% url 'info:about_us' %}');" style="cursor: pointer;"> About Us</h1>
            <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic" data-aos="fade-up" data-aos-duration="1000">
            <p>We Expanded to 33 Countries Around The World</p>
        </div>
        <div class="row first-row my-5">
            {% for company in companies %}
            <div class="col-lg-6 col-xl-4 my-5 main-crd">
                <div class="main-card" data-aos="{% if forloop.first %}flip-right{% elif forloop.counter|divisibleby:'2' %}zoom-out-up{% elif forloop.last %}flip-left{% endif %}" data-aos-duration="1000">
                    <img src="{% if company.logo %}{{ company.logo.url }}{% endif %}" alt="pic">
                    <h1>About {{ company.name }}</h1>
                    <p> {{ company.short_description }} </p>
                    <a href="{% url 'info:quality_standard' %}" class="btn main-btn">More Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Events Section -->
<section id="news">
    <div class="title my-5 py-5 text-center" data-aos="zoom-in-up"  data-aos-duration="1000">
        <h1 onclick="window.location.assign('{% url 'events:all' %}');" style="cursor: pointer;">News & Events</h1>
        <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
    </div>
    <div class="container-fluid third-main p-5" style="background-image: url({% static 'images/SECTION1BG.png' %})">
        <div class="row third-row">
            <div class="col-xl-6 left-part">
                {% for event in events %}
                <div class="{% if forloop.first %}top-text{% else %}bottom-text{% endif %} py-2" data-aos="{% if forloop.first %}zoom-in-down{% else %}zoom-in-up{% endif %}" data-aos-duration="1000">
                    <h1>{{ event.title }} </h1>
                    <p  class="pt-2 ps-2">on {{ event.date }}, at {{ events.address }}</p>
                </div>
                {% if not forloop.last %}<div class="line"></div>{% endif %}
                {% endfor %}
            </div>
            <div class="col-xl-6 right-part" data-aos="zoom-out" data-aos-duration="1000">
                <img src="{{ events.first.images.first.image.url }}" class="img-fluid" alt="pic">
            </div>
        </div>
    </div>
</section>

<!-- Catalogue Section -->
<section id="products">
    <div class="title my-5 py-5 text-center" data-aos="zoom-out-up" data-aos-duration="1000">
        <h1 onclick="window.location.assign('{% url 'products:all' %}');" style="cursor: pointer;">Products</h1>
        <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
    </div>
    <div class="container-fluid fourth my-5" data-aos="zoom-out-down" data-aos-duration="1000">
        <img src="{% static 'images/section2.png' %}" alt="pic">
        <a href="{% if catalogue.file %} {{ catalogue.file.url }} {% endif %}" class="btn fourth-btn" style="zoom:75%">Download Our Catalogue Now</a>
    </div>
</section>

<!-- Products Section -->
<section class="fifth my-5 py-5">
    <div id="carouselExampleFade" class="carousel slide"  data-ride="carousel">
        <div class="carousel-inner" style="zoom:80%">
            <div class="carousel-item active">
                <div class="container-fluid car-part">
                    <div class="row">
                        {% for product in products|slice:":6"%}
                        {% if not forloop.counter|divisibleby:"2" %}
                        <div class="col-lg-4 car-right">
                        {% endif %}
                            <div class="one" data-aos="zoom-in" data-aos-duration="1000">
                                <p>{{ product.name }}</p>
                                <img  style="max-width: 500px; max-height: 500px; padding: 1em;" src="{% if product.images.first.image %} {{ product.images.first.image.url }} {% else %} {% static 'images/default_product.jpg' %} {% endif %}" class="img-fluid"  alt="pic">
                                <div class="overlay">
                                    <h1>{{ product.name }}</h1>
                                    <h3>{{ product.short_description }} </h3>
                                    <a href="{% url 'products:all' %}" class="btn over-btn">Read More</a>
                                </div>
                            </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if product in products|slice:"6:"%}
            <div class="carousel-item">
                <div class="container-fluid car-part">
                    <div class="row">
                        {% for product in products|slice:"6:"%}
                        {% if not forloop.counter|divisibleby:"2" %}
                        <div class="col-lg-4 car-right">
                        {% endif %}
                            <div class="one" data-aos="zoom-in" data-aos-duration="1000">
                                <p>ketchup</p>
                                <img src="{% static 'images/section3photo2.png' %}" class="img-fluid"  alt="pic">
                                <div class="overlay">
                                    <h1>{{ product.name }}</h1>
                                    <h3>{{ product.short_description }}</h3>
                                    <a href="{% url 'products:all' %}" class="btn over-btn">Read More</a>
                                </div>
                            </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Business Section /- Not Done -/ -->
<section class="p-lg-5 my-5" id="business">
    <div class="container-fluid business">
        <div class="title my-5 py-5 text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <h1  onclick="window.location.assign('{% url 'countries:business' %}');" style="cursor: pointer;">Business</h1>
            <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
        </div>
        <div class="row">
            <h1 class="ps-lg-5" data-aos="fade-right" data-aos-duration="1000">We have Reached 33 Countries Around the World.</h1>
            <div class="col-lg-6 p-lg-5 p-3 mb-3">
                <p data-aos="fade-right"  data-aos-duration="1000">
                    We have reached to export to 33 countries during 8 years only.
                    We are planning to reach over 50 Countries through this year.
                </p>
                <div id="map" class="p-5 mp"  data-aos="fade-right" data-aos-duration="1000"></div>
            </div>
            <div class="col-lg-6 p-lg-5" data-aos="fade-left" data-aos-duration="1000">
                <img src="{% static 'images/flags.png' %}" alt="pic" class="p-5 img-fluid d-block">
            </div>
        </div>
    </div>
</section>

<!-- Gallery Section /- Not Done -/ -->
<section class="py-5 my-5" id="gallery">
    <div class="container-fluid ">
        <div class="title my-5 py-5 text-center" data-aos="fade-up" data-aos-duration="1000">
            <h1>Gallery</h1>
            <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
        </div>
        <div class="row p-5 gallery" style="background-image: url({% static 'images/gallerybg.jpg' %})">
            <div class="col-lg-6">
                <h1 data-aos="fade-right">Products Gallery</h1>
                <div class="owl-carousel owl-theme">
                    <div class="item"><img src="{% static 'images/gal-1.png' %}" class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" alt="pic"></div>
                    <div class="item"><img src="{% static 'images/gal2.png' %}"  class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" alt="pic"></div>
                    <div class="item"><img src="{% static 'images/gal3.png' %}"  class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" alt="pic"></div>
                    <div class="item"><img src="{% static 'images/gal4.png' %}"  class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" alt="pic"></div>
                    <div class="item"><img src="{% static 'images/gal2.png' %}"  class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" alt="pic"></div>
                    <div class="item"><img src="{% static 'images/gal-1.png'%}"  class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" alt="pic"></div>
                </div>
                <a href="#" data-aos="fade-right" data-aos-duration="1000" class="btn gal-btn mb-3">View More <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="col-lg-6">
                <h1 data-aos="fade-left">Company Gallery</h1>
                <div class="owl-carousel owl-theme">
                    <div class="item"><img src="{% static 'images/gal5.png' %}" alt="pic" class="img-fluid" data-aos="zoom-in" data-aos-duration="1000"></div>
                    <div class="item"><img src="{% static 'images/gal6.png' %}" alt="pic" class="img-fluid" data-aos="zoom-in" data-aos-duration="1000"></div>
                    <div class="item"><img src="{% static 'images/gal7.png' %}" alt="pic" class="img-fluid" data-aos="zoom-in" data-aos-duration="1000"></div>
                    <div class="item"><img src="{% static 'images/gal5.png' %}" alt="pic" class="img-fluid" data-aos="zoom-in" data-aos-duration="1000"></div>
                    <div class="item"><img src="{% static 'images/gal7.png' %}" alt="pic" class="img-fluid" data-aos="zoom-in" data-aos-duration="1000"></div>
                    <div class="item"><img src="{% static 'images/gal6.png' %}" alt="pic" class="img-fluid" data-aos="zoom-in" data-aos-duration="1000"></div>
                </div>
                <a href="#" data-aos="fade-left" data-aos-duration="1000" class="btn gal-btn mb-3">View More <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- Quality Standards Section -->
<section class="sixth py-5 my-5" id="quality">
    <div class="title my-5 py-5 text-center" data-aos="zoom-out" data-aos-duration="1000">
        <h1 onclick="window.location.assign('{% url 'info:quality_standard' %}');" style="cursor: pointer;">Quality Standards</h1>
        <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
    </div>
    <div class="container-fluid px-5">
        <div class="row">
            <h1 class="head" data-aos="zoom-out-right" data-aos-duration="1000">{{ quality_standard.title }}</h1>
            <div class="col-xl-6" data-aos="zoom-out-right" data-aos-duration="1000">
                <p class="sixth-text">
                    {{ quality_standard.description}}
                </p>
            </div>
            <div class="col-xl-6 sixth-img" data-aos="zoom-out-left" data-aos-duration="1000">
                <img src="{% if quality_standard.image %}{{ quality_standard.image.url }}{% endif %}" alt="pic" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- Certificates Section -->
<section class="py-5 my-5">
    <div class="container-fluid cert-section">
        <h1 class="cert-head ms-lg-5 mb-4 ps-lg-2" data-aos="zoom-out-right" data-aos-duration="1000" onclick="window.location.assign('{% url 'info:quality_standard' %}');" style="cursor: pointer;">Our Certificates</h1>
        <div class="row">
            {% for certificate in certificates %}
            <div class="col-lg-4 m-auto cert-container"  data-aos="zoom-out-right" data-aos-duration="1000">
                <img src="{% if certificate.image %}{{ certificate.image.url }}{% endif %}" class="img-fluid m-auto" alt="pic">
            </div>
            {% endfor %}
            <div class="col-11 cert-text p-4 my-5 m-auto" data-aos="fade-up">
                <h1>Chairman Words</h1>
                <p>{{ charmin_words.description }}</p>
            </div>
            <div class="col-lg-4 p-5 our-mission"  data-aos="zoom-out-up" data-aos-duration="1000">
                <h1 class="ps-lg-4">Our Mission</h1>
                <ul class="pt-4 ps-lg-5">
                    {% for mission in missions %}
                    <li><p> {{ mission.title }} </p></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 p-5 our-mission" data-aos="fade-right" data-aos-duration="1000">
                <h1 class="ps-lg-4" >Our Vision</h1>
                <ul class="pt-4 ps-lg-5">
                   {% for vision in visions %}
                    <li><p>{{ vision.title }}</p></li>
                   {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 p-5 our-mission" data-aos="fade-left" data-aos-duration="1000">
                <h1>Our Quality Certificates</h1>
                <div class="our-m-imgs pt-4">
                    <img src="{% static 'images/our-1.png' %}" alt="pic" class="img-fluid">
                    <img src="{% static 'images/our-2.png' %}" alt="pic" class="img-fluid">
                    <img src="{% static 'images/our-3.png' %}" alt="pic" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
