{% extends "base.html" %}
{% load static %}

{% block subtitle %} Events {% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
{% endblock %}

{% block content %}

<style>
.carousel {
    align:center;
    margin: 0 auto;
    width: 65%;
    margin-button: 0px;
}
.carousel-item{
    height: 400px;
}
.carousel-item img{
    height: 400px;
}
.container{
    align:center;
    margin: 0 auto;
    width: 65%;
    margin-top: 0px;
}
</style>
<section>
    <div class="container-fluid p-lg-5 p-3 About">
        <div class="title my-5 py-5 text-center" data-aos="fade-up">
            <h1>News & Events</h1>
            <img src="{% static 'images/UNDERTEXT.svg' %}" alt="pic">
        </div>
        <div class="row">
            {% for event in events %}
            <h1 class="text-center mb-5 news-title" data-aos="fade-up">
                {{ event.title }}
            </h1>
            <div id="carouselExampleFade{{forloop.counter}}" class="carousel slide carousel-fade" data-bs-ride="carousel" >
                <div class="carousel-inner" >
                    {% for image in event.images.all %}
                    {% if image.image %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade{{forloop.counter}}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade{{forloop.counter}}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="container p-lg-5">
                <div class="news-text mt-5">
                 {{ event.description }}
                </div>
            </div>
            <hr>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/slickmain.js' %}"></script>
{% endblock %}